<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>search</title>
</head>
<body> <!-- /menerima data dari bcend -->
	<div class="card">
		<div class="card-body">
				<table class="table table-hover">	
					<thead>
					<tr class="table-success">
						<td>Kode Fakultas</td>
						<td>Nama Fakultas</td>
						<td>Detail</td>
						<td>Ubah</td>
						<td>Hapus</td>
					</tr>
					</thead>
					<tbody id="list-fakultas">
					<tr th:each="fakultasModel:${fakultasModelList}"> 
						<td><a></a></td>
						<td><a th:text="${fakultasModel.namaFakultas}"></a></td>
						<td><button id="btn-lihat" type="button"
								class="btn btn-success btn-sm"
								th:value="${fakultasModel.kodeFakultas}">Lihat</button></td>
						<td><button id="btn-ubah" type="button"
								class="btn btn-warning btn-sm"
								th:value="${fakultasModel.kodeFakultas}">Ubah</button></td>
						<td><button id="btn-hapus" type="button"
								class="btn btn-danger btn-sm"
								th:value="${fakultasModel.kodeFakultas}">Hapus</button></td>
					</tr>
					</tbody>
				</table>
				
				<div id="modal-fakultas" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">							
							<h4 class="modal-title">Pop-up Fakultas</h4>
						</div>
						<div class="modal-body">
							<p>Some text in the modal.</p>
						</div>
					</div>
				</div>
			</div>
				
		</div>
	</div>
</body>
<script type="text/javascript">
//function dalaam script dipanggil saat html dipanggil
	refreshDataFakultas();

	//function ajax untuk refresh data (panggil list.html)
	function refreshDataFakultas() {
		$.ajax({
			url : '/class1/fakultas/data',
			type : 'get',
			dataType : 'html',		
			success : function(result) {				
				$('#list-fakultas').html(result);
			}
		});
	}	
	//function ajax untuk refresh data (panggil list.html)

	//ajax untuk pop-up tambah
	$('#btn-tambah').click(function() {
		var kodeFakultas = $(this).val();
		$.ajax({
			url : '/class1/fakultas/add',
			type : 'get',
			dataType : 'html',
			data : {kodeFakultas,kodeFakultas},
			success : function(result) {
				$('#modal-fakultas').modal('show');
				$('#modal-fakultas').find('.modal-body').html(result);
			}
		});
	});
	//ajax untuk pop-up tambah
	
	//ajax untuk create, submit
	$('#modal-fakultas').on('submit','#form-fakultas-tambah',function() {		
		$.ajax({
			url : '/class1/fakultas/create',
			type : 'post',			
			data : $(this).serialize(),
			success : function(result) {
				alert('data fakultas telah ditambah');
				$('#modal-fakultas').modal('hide');
				refreshDataFakultas();
			}
		});
		return false;
	});
	//ajax untuk create
	
	//ajax untuk pop-up lihat
	$('#list-fakultas').on('click','#btn-lihat',function() {
		var kodeFakultas = $(this).val();
		$.ajax({
			url : '/class1/fakultas/detail',
			type : 'get',
			dataType : 'html',
			data : {kodeFakultas,kodeFakultas},
			success : function(result) {
				$('#modal-fakultas').modal('show');
				$('#modal-fakultas').find('.modal-body').html(result);
			}
		});
	});
	//ajax untuk pop-up lihat
	
	//ajax untuk pop-up ubah
	$('#list-fakultas').on('click','#btn-ubah',function() {
		var kodeFakultas = $(this).val();
		$.ajax({
			url : '/class1/fakultas/ubah',
			type : 'get',
			dataType : 'html',
			data : {kodeFakultas,kodeFakultas},
			success : function(result) {
				$('#modal-fakultas').modal('show');
				$('#modal-fakultas').find('.modal-body').html(result);
			}
		});
	});
	//ajax untuk pop-up ubah
	
	//ajax untuk edit
	$('#modal-fakultas').on('submit','#form-fakultas-ubah',function() {		
		$.ajax({
			url : '/class1/fakultas/update',
			type : 'post',			
			data : $(this).serialize(),
			success : function(result) {
				alert('data fakultas telah diubah');				
				$('#modal-fakultas').modal('hide');
				refreshDataFakultas();
			}
		});
		return false;
	});
	//ajax untuk edit
	
	//ajax untuk pop-up hapus
	$('#list-fakultas').on('click','#btn-hapus',function() {	
		if (confirm("Anda yakin?"))	{
			var kodeFakultas = $(this).val();
			$.ajax({
				url : '/class1/fakultas/hapus',
				type : 'post',
				dataType: 'html',
				data : {kodeFakultas,kodeFakultas},			
				success : function(result) {					
					refreshDataFakultas();
				}
			});			
		}
		else {
			return false;
			}		
		});		
		
	//ajax untuk pop-up hapus	
</script>
</html>